.banner {
    position: relative;
    text-align: center;
    height: auto;

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
    }

    &-img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: -1;
        object-fit: cover;

        &-mobile {
            display: none;
        }
    }

    &-title {
        color: #FF9500;
        text-align: center;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #000;
        font-size: 72px;
        font-weight: 400;
        line-height: 100%;
        padding-top: 152px;
        margin-bottom: 8px;
    }

    &-text {
        color: #FFF;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: #000;
        font-size: 36px;
        font-weight: 400;
        line-height: 100%;
    }

    &-line {
        margin-top: 100px;
        height: 54px;
        background: #C7C7C7;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        &-swiper {
            position: absolute;
            bottom: 25px;
            left: 0;
            width: 100%;
            transform: translateY(50%);
            z-index: 1;
        }

        .swiper-slide span {
            color: #FFF;
            -webkit-text-stroke-width: 1.1px;
            -webkit-text-stroke-color: #000;
            font-family: 'Retro Gaming', system-ui;
            font-size: 16px;
            font-weight: 400;
            line-height: 125%;
        }

        .swiper-bg {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            transform: translateY(50%);

            & svg {
                width: 100%;
                height: auto;
            }
        }

        .swiper-wrapper {
            transition-timing-function: linear;
        }

        & .white {
            height: 4px;
            width: 100%;
            background: white;
            display: flex;

            &.down {
                margin-top: auto;
            }
        }

        & .black {
            height: 4px;
            width: 100%;
            background: #000;
            display: flex;

        }
    }

    &-form {
        height: 703px;
        width: 429px;
        padding: 13px 28px 28px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 24px 0 24px auto;
        position: relative;

        &-bg {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            z-index: -1;

            & svg {
                width: 100%;
                height: auto;
            }

            &-mobile {
                display: none;
            }
        }

        &-title {
            color: #000;
            font-family: 'Retro Gaming', system-ui;
            font-size: 24px;
            font-weight: 400;
            line-height: 135%;
            margin-bottom: 36px;
        }

        &-raised {
            color: #000;
            font-family: 'Retro Gaming', system-ui;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 135%;
            margin-bottom: 6px;
        }

        &-progress {
            margin-bottom: 6px;
        }

        &-indicator {
            &-mobile {
                display: none;
            }
        }

        &-prices {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 18px;
        }

        &-price {
            color: #000;
            font-family: 'Retro Gaming', system-ui;
            font-size: 12px;
            font-weight: 400;
            line-height: 135%;
        }

        &-balance{
            width: 100%;
            display: flex;
            flex-direction: column;

            align-items: flex-start;
            span{
                color: rgba(0, 0, 0, 0.50);
                font-family: 'Retro Gaming', system-ui;
                font-size: 12px;
                font-weight: 400;
                line-height: 135%;
                margin-bottom: 6px;
            }
            &-panel{
                width: 100%;
                background: #DADADA;
                border-top: 4px solid #F1F1F1;
                border-left: 4px solid #F1F1F1;
                border-bottom: 4px solid #707070;
                border-right: 4px solid #707070;
                color: #FFF;
                -webkit-text-stroke-width: 1.5px;
                -webkit-text-stroke-color: #000;
                font-size: 28px;
                font-weight: 400;
                line-height: 100%;
                padding: 9px;
                text-align: start;
            }
        }

        &-selector {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 18px 0;

            &-title {
                color: rgba(0, 0, 0, 0.50);
                font-family: 'Retro Gaming', system-ui;
                font-size: 12px;
                font-weight: 400;
                line-height: 135%;
                margin-bottom: 7px;
                text-align: start;
            }

            &-options {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 18px;
                width: 100%;
            }

            &-option {
                width: 100%;
                padding: 14px 60px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: #ABABAB;
                border-top: 4px solid #D0D0D0;
                border-left: 4px solid #D0D0D0;
                border-bottom: 4px solid #8C8A8A;
                border-right: 4px solid #8C8A8A;
                cursor: pointer;
                transition: 0.2s;

                &-title {
                    color: #FFF;
                    font-family: 'Retro Gaming', system-ui;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 125%;
                }

                input {
                    display: none;
                }

                &:has(input:checked) {
                    background: #DADADA;
                    border-top: 4px solid #F1F1F1;
                    border-left: 4px solid #F1F1F1;
                    border-bottom: 4px solid #707070;
                    border-right: 4px solid #707070;

                }

                &:has(input:checked) &-title {
                    color: #000;
                }

                &:hover {
                    background: #BFBFBF;
                }
            }
        }

        &-amounts {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            width: 100%;
            margin-bottom: 14px;
        }

        &-button {
            width: 100%;
            margin-top: 16px;
            padding: 11px 80px 10px;
            background: #0BC617;
            border-top: 4px solid #4EEF58;
            border-left: 4px solid #4EEF58;
            border-bottom: 4px solid #13931B;
            border-right: 4px solid #13931B;
            color: #000;
            font-family: 'Retro Gaming', system-ui;
            font-size: 20px;
            font-weight: 400;
            line-height: 135%;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
                background: #2EA935;
            }
        }
    }

    .overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 10;

        &-bg {
            position: absolute;
            top: 50%;
            left: 50%;
            height: 100%;
            width: 100%;
            z-index: -1;
            transform: translate(-50%, -50%);

            svg {
                width: 100%;
                height: auto;
            }
        }
    }
}


@media screen and (max-width: 751px) {
    .banner {
        background: #F0C159;

        &-img {
            display: none;

            &-mobile {
                display: block;
                width: 100%;
                height: auto;
                object-fit: cover;
                z-index: 0;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }

        .container {
            position: relative;
        }

        &-title {
            font-size: 40px;
            -webkit-text-stroke-width: 1.78px;
            padding-top: 105px;
        }

        &-text {
            font-size: 24px;
            -webkit-text-stroke-width: 0.97px;
            margin-bottom: 450px;
        }

        &-form {
            height: 628px;
            width: 343px;
            padding: 6px 20px 26px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 24px auto 24px auto;
            position: relative;
            z-index: 1;

            &-bg {
                display: none;

                &-mobile {
                    display: flex;
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    transform: translateY(-50%);
                    z-index: -1;

                    & svg {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            &-title {
                font-size: 16px;
                margin-bottom: 20px;
            }
            &-raised {
                margin-bottom: 5px;
            }
            &-progress {
                margin-bottom: 6px;
            }

            &-indicator {
                display: none;
                &-mobile {
                    display: block;
                }
            }

            &-prices {
                margin-bottom: 16px;
            }

            &-selector {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin: 16px 0;

                &-title {
                    margin-bottom: 6px;
                }

                &-options {
                    gap: 17px;
                }

                &-option {
                    width: 100%;
                    padding: 10px 48px;
                }
            }

            &-amounts {
                gap: 17px;
                margin-bottom: 11px;
            }

            &-button {
                margin-top: 12px;
                padding: 11px 30px 10px;
            }
        }

        &-line {
            margin-top: 40px;
        }
    }
}

@media screen and (min-width: 500px) {
    .banner {
        &-img {
            &-mobile {
                top: -5%;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .banner {
        &-img {
            &-mobile {
                top: -10%;
            }
        }
    }
}
